@(courses : List[Course])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--Fonts and Icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <!--Theme and Plugins -->
    <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/stylesheets/now-ui-kit.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="assets/stylesheets/bootstrap-editable.css">

</head>
<body>
<div class="container">
    <h2 class=".text-center">Courses</h2>

    <div id="toolbar">
        <button id="btnAddCourse" type="button" class="btn btn-success btn-mg">Add Course</button>
    </div>
    <table data-toggle="table">
        <thead>

        <tr>


            <th data-sortable="true" data-field="name" data-editable="true">Course Name</th>
            <th data-field="teacherID">TeacherId</th>

        </tr>
        </thead>
        <tbody>
        @for(course <- courses) {

        <tr>
            <td><a href="course/@course.getCourseId()">@course.getCourseName()</a></td>
            <td>@course.getTeacherId</td>

        </tr>
        }
        </tbody>
    </table>
</div>
</body>
<!--Javascript for theme and plugins-->
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="assets/lib/bootstrap/js/bootstrap.bundle.js"></script>
<script src="assets/javascripts/bootstrap-switch.js"></script>
<script src="assets/javascripts/nouislider.min.js"></script>
<script src="assets/javascripts/bootstrap-datepicker.js"></script>
<script src="assets/javascripts/jquery.sharrre.js"></script>
<script src="assets/javascripts/now-ui-kit.js"></script>
<script src="assets/lib/bootstrap-table/src/bootstrap-table.js"></script>
<script src="assets/lib/bootstrap-table/src/locale/bootstrap-table-en-US.js"></script>
</html>