@(students : List[Student])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-table/src/bootstrap-table.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h2 class=".text-center">Students</h2>

<table data-toggle="table">
    <thead>

    <tr>


        <th>Student Name</th>
        <th>BirthDate</th>
        <th>Classification</th>
        <th>Class Rank</th>
        <th>Overall GPA</th>
        <th>Semester GPA</th>
    </tr>
    </thead>

    @for(student <- students) {
    <tbody>

    <tr>

        <td><a href="student/@student.getStudentId()">@student.getStudentName()</a></td>
        <td>@student.getFormattedBirthDate</td>
        <td>@student.getGradeClass()</td>
        <td>@student.getRankClass()</td>
        <td>@student.getOverallGPA()</td>
        <td>@student.getSemesterGPA()</td>

    </tr>
    </tbody>
    }
</table>
</div>
</body>
<script src="assets/lib/bootstrap-table/src/bootstrap-table.js"></script>
<script src="assets/lib/bootstrap-table/src/locale/bootstrap-table-en-US.js"></script>
</html>