@(student : StudentDetail)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>@student.getStudentName()</h1>
<br><br>
<h2>Student Info:</h2>
<p>Birthdate: @student.getFormattedBirthDate</p>
<p>Classification: @student.getGradeClass</p>
<p>Rank: @student.getRankClass</p>
<p>Overall GPA: @student.getFormattedOverallGPA</p>
<p>Parent's Email: @student.getParentEmail</p>
<p>Parent's Phone: @student.getParentPhone</p>
<p>Student's Email: @student.getStudentEmail</p>
<p>Student's Phone: @student.getStudentPhone</p>
</body>
</html>