@(student : StudentDetail, courseSubs : List[StudentCourseSub], gradeSubs : List[StudentGradeSub])
<!DOCTYPE html>
<html lang="en">
<head>

    <title>@student.getStudentName()</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/assets/stylesheets/now-ui-dashboard.css">
    <link rel="stylesheet" href="/assets/lib/bootstrap-table/src/bootstrap-table.css">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap-editable.css">

    <script src="/assets/lib/jquery/jquery.js"></script>
    <script src="../assets/lib/bootstrap/js/bootstrap.bundle.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="salmon">
        <!--Tip 1: You can change the color of the sidebar using: data-color="purple | teal | salmon | red | warm black"-->
        <div align="center" class="logo">
            <a href="../adminHome" class="simple-text logo-normal">
                <strong>GradeWit</strong>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="../adminHome">
                        <i class="fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="../students">
                        <i class="fas fa-graduation-cap"></i>
                        <p>Students</p>
                    </a>
                </li>
                <li>
                    <a href="../courses">
                        <i class="fas fa-book"></i>
                        <p>Courses</p>
                    </a>
                </li>
                <li>
                    <a href="../teachers">
                        <i class="far fa-id-badge"></i>
                        <p>Teachers</p>

                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel ps-container ps-theme-default">

        <div class="container text-center">
            <h2>Table:
                <small class="text-muted"> @student.getStudentName()</small>
            </h2>
        </div>
        <div class="bootstrap-table text-center">
            <table id="table"
                   data-toggle="table"
                   data-query-params="queryParams"
                   data-response-handler="responseHandler"
                   data-editable-emptytext="-">

                <thead class="thead-dark">
                <tr>
                    <th>Grades</th>
                    <th data-sorter="htmlSorter">Course ID</th>
                    <th data-editable-field="name" data-sortable="true">Course Name</th>
                    <th data-sortable="true">Teacher</th>
                    <th data-editable-field data-sortable="true">Course GPA</th>
                </tr>
                </thead>
                <tbody>
                @for(i <- 0 to courseSubs.size() - 1) {
                <tr>
                    <td>
                        <button class="btn btn-primary btn-fab btn-icon btn-round" data-toggle="collapse" type="button" data-target="#sub@i"
                                 aria-controls="sub@i" aria-expanded="false"><i class="fas fa-plus-circle"></i></button>
                    </td>
                    <td>@courseSubs.get(i).getCourseId</td>
                    <td>@courseSubs.get(i).getCourseName</td>
                    <td>@courseSubs.get(i).getTeacherName</td>
                    <td>@courseSubs.get(i).getOverallGPA</td>
                </tr>
                <tr class="collapse" id="sub@i">
                    <td colspan="8">
                        <div class="bootstrap-table text-center" >
                            <table id="table2"
                                   data-toggle="table"
                                   data-query-params="queryParams"
                                   data-response-handler="responseHandler"
                                   data-id-field="id"
                                   data-editable-emptytext="+"
                                   data-editable-url="/gradeUpdate">
                                <thead>
                                <tr>
                                    <th class="d-none" data-field="id">AssignGradeID</th>
                                    <th>Assignment Name</th>
                                    <th data-editable-field="grade" data-editable="true">Grade</th>
                                </tr>
                                </thead>
                                <tbody>
                                @for(gradeSub <- gradeSubs) { @if(gradeSub.getCourseId ==
                                courseSubs.get(i).getCourseId){
                                <tr>
                                    <td class="d-none">@gradeSub.getAssignmentGradeId</td>
                                    <td>@gradeSub.getAssignmentName</td>
                                    <td>@gradeSub.getGrade</td>
                                </tr>
                                }}
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav>
                <ul>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script> document.write(new Date().getFullYear())</script>
                , layout designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>

<!--SCRIPTS -->
<script src="../assets/javascripts/nouislider.min.js"></script>
<script src="../assets/javascripts/bootstrap-table.js"></script>
<script src="../assets/javascripts/bootstrap-editable.js"></script>
<script src="../assets/lib/bootstrap-table/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="../assets/javascripts/perfect-scrollbar.jquery.min.js"></script>
<script src="../assets/javascripts/sidebar.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/javascripts/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/javascripts/now-ui-dashboard.js"></script>

</body>
</html>